@import "./modules/global";

nav {
	opacity: 0;
	transition: $B-Transition;
	display: flex;
	flex-direction: column;

	body:not(.showMenu) & {
		pointer-events: none;
	}

	.showMenu & {
		opacity: 1;
	}

	top: $header_h + 30;
	left: 10vw;
	bottom: 0;
	z-index: 10;
	position: fixed;
	font-size: 4vh;
	line-height: 10vh;
	overflow: auto;
	right: -50px;

	a {
		[data-theme] &, [data-theme] &:visited {
			color: $theme_2-font;

			&:hover {
				color: lighten($theme_2-font, 10%);
			}
		
			&:not(:last-child) {
				margin-bottom: 15px;
			}

			&.active {
				color: darken($theme_2-font, 10%);

				&:hover {
					color: darken($theme_2-font, 15%);
				}
			}
		}
	}
}