$primary_c: #41B6E6;
$primary_c--dark: #1C7599;
$primary_c--light: #62D1FF;
$accent_c: #E69941;
$accent_c--dark: #99570D;
$white: #f5f5f5;
$black: #1a1a1a;

$primary_f: 'Amatic SC', cursive;
$secondary_f: 'Josefin Slab', serif;

$primary_texture: url("https://www.transparenttextures.com/patterns/absurdity.png");

$level--one: 0px 0px 0px 0px rgba(0,0,0,0.35);
$level--two: 0px 1px 1px rgba(0,0,0,0.35);
$level--three: 0px 2px 0px rgba(0,0,0,0.35);
$level--four: 0px 3px 5px -1px rgba(0,0,0,0.35);

$header_h: 60px;

$theme_1-bg: #fff;
$theme_1-bg_dark: #1a1a1a;
$theme_1-font: #1a1a1a;
$theme_1-link: hsl(192, 70%, 50%);

$theme_2-bg: #002b36;
$theme_2-bg_dark: #00222b;
$theme_2-font: #2aa198;
$theme_2-link: #fff;

$number_of_themes: 2;

$theme-backgrounds: $theme_1-bg, $theme_2-bg;
$theme-backgrounds_dark: $theme_1-bg_dark, $theme_2-bg_dark;
$theme-fonts: $theme_1-font, $theme_2-font;
$theme-links: $theme_1-link, $theme_2-link;

$globalTransition: all 0.35s ease-in;
$B-Transition--Timing: 0.9s cubic-bezier(0.71, -0.15, 0.09, 1.01);
$B-Transition: all $B-Transition--Timing;

$additional_content_opacity: .3;

@mixin after_line($colour) {
	&:before {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 3px;
		background: $colour;
		content: '';
		border-radius: 30px;
		@content;
	}
}